# Python
__pycache__/
*.py[cod]
*.pyo
*.bak

# Variables de entorno (credenciales)
.env
.env.*
!.env.example

# PyInstaller
dist/
build/
*.spec

# Entornos virtuales
venv/
.env/
env/

# IDEs
.vscode/
.idea/
